<nav class="navbar navbar-toggleable-md bg-faded navigation-wrapper">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navigation-link" routerLink="/posts">Angular</a>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link navigation-link" routerLink="/post/create">Create post <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link navigation-link" routerLink="/post-category">Post Category</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link navigation-link" routerLink="/post-category/create">Create post category <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      
    </div>
  </nav>
<div class="container-fluid no-gutters">
  <div class="row">
    <div class="col-9">
      
      <router-outlet></router-outlet>
      </div>

    <div class="col-3 padding">
      <sidebar></sidebar>
      </div>
  
  </div>
</div>

