<div>{{post.title}}</div>
<div>{{post.body}}</div>
<form class="form">
  <div class="row">
    <div class="col-7">
  <div class="form-group">
    <label for="title">Title</label>
    <input [(ngModel)]="post.title" name="title" type="text" id="titel" class="form-control mx-sm-3" aria-describedby="title">
    <small id="title" class="text-muted">
      Must be 1-500 characters long.
    </small>
  </div>
    </div>
<div class="col-7">
  <div class="form-group" >
    <label for="body">Body</label>
      <textarea [(ngModel)]="post.body" name="body" class="form-control mx-sm-3" ></textarea>
  </div>
</div>
<div class="col-7">
  <div class="form-group" >
<button (click)="createPost(post)" type="button" class="btn btn-primary mx-sm-3">Create</button>
  </div>
</div>
  </div>
</form>