<div class="col-xs-12">
        <div class="thumbnail">
          <img src="assets/pexels-photo-259818.jpeg" alt="...">
          <div class="caption">
              <div class="row">
                  <div class="col-xs-1">
                        <img class="media-object post-author" src="assets/images.png" alt="...">
                  </div>
                  <div class="col-xs-2">
                        <p class="media-heading">Author</p>
                  </div>
                  <div class="col-xs-9 post-tags">
                        <a class="post-tag-link" href="#"><span class="label label-info">Info</span></a>
                        <a class="post-tag-link" href="#"><span class="label label-info">Info</span></a>
                  </div>
              </div>
            </div>
            <h3>Thumbnail label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore 
                    magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea 
                    commodo consequat. Duis aute irure dolor in 
                    reprehenderit in voluptate velit esse cillum 
                    dolore eu fugiat nulla pariatur. Excepteur sint 
                    occaecat cupidatat non proident, sunt in culpa 
                    qui officia deserunt mollit anim id est laborum.</p>
                <button type="button"class="btn btn-primary" role="button">Read...</button> 
        </div>
</div>

<div class="col-xs-12">
        <div class="thumbnail">
          <img src="assets/pexels-photo-640783.jpeg" alt="...">
          <div class="caption">
                <div class="row">
                        <div class="col-xs-1">
                              <img class="media-object post-author" src="assets/images.png" alt="...">
                        </div>
                        <div class="col-xs-2">
                              <p class="media-heading">Author</p>
                        </div>
                        <div class="col-xs-9 post-tags">
                              <a class="post-tag-link" href="#"><span class="label label-info">Info</span></a>
                              <a class="post-tag-link" href="#"><span class="label label-info">Info</span></a>
                        </div>
                    </div>
            <h3>Thumbnail label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                    sed do eiusmod tempor incididunt ut labore et dolore 
                    magna aliqua. Ut enim ad minim veniam, quis nostrud 
                    exercitation ullamco laboris nisi ut aliquip ex ea 
                    commodo consequat. Duis aute irure dolor in 
                    reprehenderit in voluptate velit esse cillum 
                    dolore eu fugiat nulla pariatur. Excepteur sint 
                    occaecat cupidatat non proident, sunt in culpa 
                    qui officia deserunt mollit anim id est laborum.</p>
            <button type="button"class="btn btn-primary" role="button">Read...</button> 
          </div>
        </div>
</div>
